@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Practica 8 Unidad 2</h1>
    <p class="lead">En esta practica estaremos utilizando Entity Framework para crear el CRUD de Estudiantes, Cursos e Inscripciones.</p>
    <p><a href="/Estudiante/Index" class="btn btn-primary btn-lg">Iniciemos... &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Estudiantes</h2>
        <p>
            Aqui puede ver un listado de los estudiantes existentes, de no existir ninguno puede crearlos,
            modificarlos y eliminarlos.
        </p>
        <p><a class="btn btn-default" href="/Estudiante/Index">Adelante &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cursos</h2>
        <p>
            Aqui puede ver un listado de los cursos existentes, de no existir ninguno puede crearlos,
            modificarlos y eliminarlos.
        </p>
        <p><a class="btn btn-default" href="/Curso/Index">Adelante &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inscripciones</h2>
        <p>
            Aqui puede realizar las inscripciones de los estudiantes existentes, de no existir ninguna puede crear,
            modificar y eliminarlas.
        </p>
        <p><a class="btn btn-default" href="/Inscripcion/Index">Adelante &raquo;</a></p>
    </div>
</div>